$primary-color:#EF7B48;
$primary-dark-color:#B55D36;
$secondary-color:#053C87;
$dark-color:#222222;
$gray-dark-color:#2A363B;
$gray-color: #7A7A7A;
$gray-light-color: #F5F5F5;
$white-color: #ffffff;
$tertiary_color:#0C7867;